@page
@model P03_FootballBetting.Web.Pages.Team.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Color.ColorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
